body {
    font-size: 20px;
}

.container{
    max-width: 300px;
    max-height: 800px;
    min-width: 280px;
}

.border{
    border: 6px solid #aeaeae;
}

#result{
    margin-top: 20px;
    color: red;
}

#btn {
    position: relative;
    margin-top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
}

button {
    text-transform: uppercase;
    font-weight: 700;
    background-color: DodgerBlue;
    color: white;
}

span{
    margin-left: 10px;
}


input{
    margin-top: 15px;
}

input:focus {
    box-shadow: 0 0 4px 2px rgb(191, 222, 255);
}

.res_container{
    margin-top: 20px;
}

.res_p{
    margin-left: 20px;
}