body {
    font-size: 20px;
}

.container{
    position: relative;
    margin: 0 auto;
    max-width: 400px;
    max-height: 800px;
    min-width: 300px;
    padding: 20px 0;
}

.border{
    position: relative;
    border: 6px solid #aeaeae;
    margin: 0 auto;
    margin-bottom: 20px;
}

.res{
    margin-top: 20px;
    color: red;
}

#btn {
    position: relative;
    margin-top: 40px;
    margin-bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

button {
    text-transform: uppercase;
    font-weight: 700;
    background-color: DodgerBlue;
    color: white;
    padding: 15px;
}

span{
    margin-left: 10px;
}


input{
    margin-top: 15px;
    text-align: left;
    margin: 15px auto;

}


input:focus {
    box-shadow: 0 0 4px 2px rgb(191, 222, 255);
}

.res_container{
    margin-top: 20px;
}

.res_p{
    margin-left: 20px;
}
